@charset "UTF-8";

.midArea{
	display: flex;
	justify-content: space-between;
}

.box{
	width: 600px;
}

.listBox{
	width: 100%;
}

.rowf{
	align-items: center;
	padding: 30px 0;
	border-bottom: none;
}

